<div class="social-media-adress-box">
  <a
    class="social-media-adress-box__social"
    [ngClass]="{ 'social-media-adress-box__social-dark-mode': darkMode }"
    href="https://www.memecreator.org/static/images/memes/5341616.jpg"
    target="_blank"
    ><mat-icon>facebook</mat-icon></a
  >
  <a
    class="social-media-adress-box__social"
    [ngClass]="{ 'social-media-adress-box__social-dark-mode': darkMode }"
    href="https://www.memecreator.org/static/images/memes/5341616.jpg"
    target="_blank"
    ><mat-icon>subscriptions</mat-icon></a
  >
  <a
    class="social-media-adress-box__social"
    [ngClass]="{ 'social-media-adress-box__social-dark-mode': darkMode }"
    href="https://www.memecreator.org/static/images/memes/5341616.jpg"
    target="_blank"
    ><mat-icon>share</mat-icon></a
  >
</div>
