.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .logo-and-nav-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__logo {
      width: 50px;
    }
  }
}
