<nav>
  <a>
    <button
      mat-button
      routerLink="/productsList"
      routerLinkActive="activeted-page-nav"
    >
      Products List <mat-icon>list</mat-icon>
    </button>
  </a>
  <a
    ><button
      mat-button
      routerLink="/addProducts"
      routerLinkActive="activeted-page-nav"
    >
      Search <mat-icon>search</mat-icon>
    </button>
  </a>
  <a
    ><button
      mat-button
      routerLink="/statistics"
      routerLinkActive="activeted-page-nav"
    >
      Statistics <mat-icon>assessment</mat-icon>
    </button></a
  >
  <a
    ><button
      mat-button
      routerLink="/settings"
      routerLinkActive="activeted-page-nav"
    >
      Settings <mat-icon>settings_applications</mat-icon>
    </button>
  </a>
</nav>
